.modal {
    display: none;
    font-size: 16px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    line-height: 1.5;
}

.modal-title {
    font-size: 30px;
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 450px;
    height: 350px;
}

.enter-email {
    padding: 10px;
    text-align: start;
    width: 80%;
    padding-left: 40px;
    font-size: 15px;
    
}

input {
    width: 80%;
    height: 40px;
    margin: 10px;
    padding-left: 25px;
}

.close {
    position: relative;
    left: 190px;
    top: -20px;
    color: #aaaaaa;
    font-size: 50px;
    
}

.close:hover,
.close:focus {
    color: #cca88a;
    text-decoration: none;
    cursor: pointer;
}

.non-auth {
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 13px;
}

button {
    width: 86%;
    height: 40px;
    margin: 10px;
}

.password {
    position: relative;
}

.password__btn {
    position: absolute;
    right: 65px;
    top: 22px;
    cursor: pointer;
}