@import "header.css";
@import "footer.css";
/*стили для карточек*/
.cardsContainer{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.cart__path {
    width: 100%;
    max-width: 1440px;
    margin: 20px auto 30px auto;
}

.cart__path span {
    margin: 0 11px 0 11px;
    color: #E0BEA2;
}
.cards {
    margin-top: 142px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}

.cards img {
    width: 200px;
    height: 300px;
}

.product-card {
    border: 2px grey solid;
}
.overlay{
display: none;
font-size: 16px;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.4);
line-height: 1.5;
}
.popup-close{
    float: right;
    color: #aaaaaa;
    font-size: 50px;
}
.popup-close:hover,
.popup-close:focus {
    color: #cca88a;
    text-decoration: none;
    cursor: pointer;
}
.popup{
    text-align: center;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 450px;
    height: 350px;
}
.popup-return a:hover,
.popup-end{
    text-decoration-line: underline;
    text-decoration-color:  #E0BEA2;
    -moz-text-decoration-color:  #E0BEA2;
}
.popup-title{
    padding-top: 60px;
}