@import "normalize.css";
@import "normalize.css";
@import "normalize.css";
.footer__container {
  width: 100%;
  display: flex;
  margin: auto;
}
.footer__container p:hover,
.footer__container a:hover {
  color: #e0bea2;
}

.footer__column {
  flex: 1;
  padding: 20px 20px 20px 0;
}
.footer__column p {
  margin: 5% 0;
}

.footer__rights {
  text-align: center;
  font-size: 0.8rem;
}

.footer__subtitle {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

.footer__mobile {
  display: none;
  justify-content: center;
  text-align: center;
}
.footer__mobile div {
  padding: 10px 0;
}
.footer__mobile div:not(:last-child) {
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
}
.footer__mobile a,
.footer__mobile p {
  padding: 10px 0;
}
.footer__mobile a :hover,
.footer__mobile p :hover {
  color: #e0bea2;
}
.footer__mobile .footer__mobile_item:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.footer__mobile .footer__mobile_item:hover div {
  display: initial;
}

.footer__mobile_contacts {
  margin-bottom: 20px;
}
.footer__mobile_contacts a,
.footer__mobile_contacts p {
  padding: 0;
  margin: 10px 0;
}

.footer__mobile_wrapItem {
  display: none;
}

@media (max-width: 767px) {
  .footer__mobile {
    display: block;
    justify-content: center;
    align-content: center;
  }
  .footer__container {
    display: none;
  }
}
/*------------HEADER-----------------------------------------------------------*/
body {
  height: 100%;
  line-height: 1;
  font-size: 1rem;
  color: #252525;
  font-family: "Raleway", sans-serif;
}

* {
  font-size: 1rem;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

h4 {
  font-weight: inherit;
}

.menu__list_spanCatalog a {
  color: #e0bea2;
}

.header {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.header__menuBurger {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  padding: 10px;
  text-align: left;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.header__menuBurger a {
  color: #252525;
  text-shadow: 0.5px 0.5px 0.5px rgba(253, 253, 253, 0.5);
}

.header__logoBurger {
  cursor: pointer;
}

.header__logoBurger_img {
  width: 30px;
  height: 30px;
}

.header__menuBurger.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  background-color: transparent;
}
.header__menuBurger.show h4 {
  font-size: 1.4rem;
}
.header__menuBurger.show a {
  display: block;
  margin: 20px 0;
}
.header__menuBurger.show a :hover {
  color: #e0bea2;
}

.header_container {
  display: flex;
  min-width: 120px;
  justify-content: space-between;
  align-items: center;
}

.header__logoBurger {
  width: 5%;
  margin: 0 2% 0 0;
}

.header__menu {
  width: 23%;
  margin: 0 5%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 15%;
  justify-content: center;
}

.header__menuIcons {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

select {
  cursor: pointer;
}

.header__drop {
  width: 10%;
  margin: 0 5%;
  font-family: "Raleway";
}

.header__selectLanguage,
.header__selectCurrency {
  border: none;
  outline: none;
  background-color: transparent;
}

.header__logo_link {
  position: relative;
}

.header__logo_link:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
} */
@media (max-width: 1023px) {
  .header__logoBurger {
    width: 38%;
  }
  .header__selectCurrency,
  .header__menu,
  .header__logoContacts,
  .header__logoSearch {
    display: none;
  }
  .header__logoBurger_img {
    width: 12%;
  }
  .header__drop {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .header__selectLanguage {
    margin: 0 1%;
  }
  .header__logo_img {
    width: 100%;
  }
  .header__menuIcons {
    width: 38%;
    display: flex;
    justify-content: flex-end;
  }
  .header__logo_link {
    margin: 0 3%;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin: auto;
  }
  .header__logoBurger_img {
    width: 20%;
  }
  .header__drop {
    position: absolute;
    margin: 0 0 0 10%;
  }
  .header__logo_icon {
    width: 80%;
  }
}
body {
  margin: 25px 150px;
  font-size: 16px;
}

.transition {
  display: flex;
  margin-top: 31px;
}
.transition__arrow {
  color: #e0bea2;
  margin: 0 13px;
}

.connect__title {
  margin-top: 38px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}

.container-connect {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.container-connect__item {
  display: flex;
  flex-direction: column;
}
.container-connect__info {
  padding: 10px 0;
  font-weight: 200;
}
.container-connect__title {
  padding: 10px 0;
}
.container-connect__icons {
  display: flex;
}
.container-connect__inst {
  background-image: url(/assets/images/icons/inst.svg);
  width: 25px;
  height: 25px;
}
.container-connect__telegram {
  background-image: url(/assets/images/icons/telegram.svg);
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 119px;
}
.mailing__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}
.mailing__input {
  margin-top: 50px;
}
.mailing__btn {
  width: 600px;
  height: 50px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.mailing__para {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 24px;
}

.email {
  width: 600px;
  height: 50px;
  font-size: 20px;
}

form {
  width: 600px;
}

::-webkit-input-placeholder {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

:-ms-input-placeholder {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

@media (max-width: 1023px) {
  body {
    margin: 25px 20px;
    font-size: 16px;
  }
  .connect__title {
    margin-top: 23px;
  }
  .container-connect {
    margin-top: 13px;
  }
}
@media (max-width: 767px) {
  .container-connect {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mailing {
    margin-top: 64px;
  }
  .mailing__input {
    margin-top: 30px;
  }
  .mailing__title {
    font-size: 24px;
    line-height: 28px;
  }
  form,
  .email,
  .mailing__btn {
    max-width: 335px;
    min-width: 100%;
  }
}
@media (max-width: 390px) {
  .container-connect {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.menu__link:hover {
  color: #e0bea2;
}

.header_container {
  position: relative;
  margin: 1% 5%;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: black;
  background: url("../images/photos/jacketback2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header a,
.header select,
.header p,
.header h1 {
  color: white;
}

.header__pageblock {
  display: flex;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.header__pageblock_title {
  margin: 20% 38% 1%;
}

.header__pageblock_title-link {
  font-size: 2.8rem;
  font-weight: lighter;
}
.header__pageblock_title-link :hover {
  color: #e0bea2;
}

.header__pageblock_border {
  width: 16%;
  margin: 0 42%;
  border-bottom: 1px solid white;
  margin-bottom: 1%;
}

.header__pageblock_link {
  text-transform: uppercase;
  margin: 0 0 0 45%;
  font-size: 0.9rem;
}

.header__pageblock_link:hover,
.header__pageblock_title-link:hover {
  color: #e0bea2;
}

.footer__item {
  text-align: center;
}

.footer {
  margin: 25px 150px;
}

@media (max-width: 1023px) {
  .footer {
    margin: 0px 20px;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    background: url("../images/photos/backgr22.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__pageblock_title {
    margin: 40% 20% 1% 30%;
  }
  .header__pageblock_link {
    margin: 0 0 0 40%;
  }
}
@media (max-width: 767px) {
  .header {
    width: 100vw;
    height: 100vh;
    background: url("../images/photos/jacket1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.header__menuBurger {
  background-color: transparent;
}
.header__menuBurger a {
  display: block;
  margin: 20px 0;
}
.header__menuBurger h4 {
  color: white;
}
.header__menuBurger .header__pageblock_title {
  margin: 45% 20% 1% 30%;
}
.header__menuBurger .header__pageblock_link {
  margin: 0 0 0 40%;
}/*# sourceMappingURL=main_page_style.css.map */