.orders-history-page {
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
}

.orders-history-page * {
    margin: 5px;
}

.transition {
    display: flex;
    flex-direction: row;
}

.orders-history__transition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.408);
    border-left: 0;
    border-right: 0;
    padding: 0;
    padding-right: 50px;
    height: 40px;
    margin: 0;
}

.orders-history__transition_item {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#here {
    background: #E0BEA2;
    color: rgb(255, 255, 255);
    margin: 0;
    
}

#orders-status {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 767px) {
    .orders-history-page {
    margin: 0;
    }

    .orders-history__transition {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 60px;
    }

    .orders-history__transition_item {
    max-width: 90px;
    font-size: 11px;
    margin: 0;
    }
}