.account-page {
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
} 

.account-page * {
    margin: 5px;
}

.transition {
    display: flex;
    flex-direction: row;
}

.account {
    text-align: center;
}

.account__transition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.408);
    border-left: 0;
    border-right: 0;
    padding: 0;
    padding-right: 50px;
    height: 40px;
    margin: 0;
}

.account__transition_item {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

button {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    margin-top: 10px;
}

#here {
    background: #E0BEA2;
    color: rgb(255, 255, 255);
    margin: 0;
    
}

#account-form {
    text-align: start;
}

input {
    width: 25%;
    margin: 5px;
    height: 25px;
    font-size: 13px;
    padding: 5px;
}

.city, .house-address {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}

.city {
    margin-right: 5px;
}

.house-address {
    margin-left: 5px;
}